body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/*Navigation Bar*/
header {
    background-color: #000000; 
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
}

.logo {
    color: #af0808; 
    font-size: 1.5em;
    padding-left: 15px;
}

.nav-links {
    list-style: none;
    display: flex;
    font-size: 1.5em;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #8f0606; 
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffffff; 
}

